@import "tailwindcss";

@theme {
  --font-libre: var(--font-libre);
  --font-fira: var(--font-fira);
  --font-sans: var(--font-geist-sans);
}


@layer base{
  body{
    background-color: #ebe8df;
  }
  html{
    overflow-x: hidden;
  }
}